<!DOCTYPE html>
<html>
  <head>
    <title>TODOLIST</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>homework !</title>
  </head>

  <body>
    <header class="container-head">
      <h1 class="headline">TO DO LIST</h1>
      <nav class="menu-nav">
          <a class="navbar-brand logo-link" href="<%= root_path %>">ToDoList </a>
          <% if current_user %>
            <span class="navbar-brand logo-link"> User: <%= current_user.email %> </span>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
              <% if !current_user %>
                <li><a href="<%= new_user_session_path %>" class="menu-option">Log in</a></li>
                <li><a href="<%= new_user_registration_path %>" class="menu-option">Sign up</a></li>
                <li><a href="<%= homeworks_path %>" class="menu-option">Homeworks</a></li>
                <li><a href="<%= notebooks_path %>" class="menu-option" >Notebook</a></li>
              <% else %>
                <li ><a href="<%= destroy_user_session_path %>" class="menu-option" data-method="delete">Log out</a></li>
                <li><a href="<%= new_homework_path %>" class="menu-option">New homewrok</a></li>
                <li><a href="<%= new_notebook_path %>" class="menu-option" >New notebook</a></li>
              <% end %>
          </ul>
         </div>
      </nav>
  </header>

    <div class="container-main">
      <% if flash[:success] or flash[:error] or flash[:notice]%>
      <span class="flash-message <%= flash[:success] ? 'success alert glyphicon glyphicon-ok-circle' : flash[:error] ? 'error alert glyphicon glyphicon-remove-circle' : flash[:notice] ? 'notice alert glyphicon glyphicon-info-sign' : '' %>">
        <%= flash[:success] ? flash[:success] : flash[:error] ? flash[:error] : flash[:notice] ? flash[:notice] : '' %>
      </span>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
